.section1Container{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: fit-content;
    border-radius: 25px;
    @media screen and (max-width: 768px) {
margin-top: 170px;
margin-bottom: 50px;
      }
      @media screen and (max-width: 433px) {
        margin-top: 200px;
              }
}