.section3Container{
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 67, 67, 0.532);
    backdrop-filter: blur(4px);
    height: 500px;
    width: 95%;
    border-radius: 25px;
}